﻿@model TPChat.Models.Chat

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Age)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Age)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Couleur)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Couleur)
    </dd>

</dl>