﻿@model FirstWebApp.ViewModels.CreateUpdateAnimalViewModel

@{
    ViewBag.Title = "Création";
}

<h2>Création</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Création d'un animal</h4>
        <hr />
    
        @Html.Partial("_CreateUpdate", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
