﻿@model FirstWebApp.ViewModels.AnimalViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimalViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Couleurs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Couleurs)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
