﻿@model FirstWebApp.ViewModels.CreateUpdateAnimalViewModel

@{
    ViewBag.Title = "Édition";
}

<h2>Édition</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Édition d'un animal</h4>
        <hr />
   
        @* Appel à la vue partielle *@
        @Html.Partial("_CreateUpdate", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
