﻿@{
    // this.Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    var toto =  "<h1>titi</h1>";

    List<string> list = new List<string>
    {
        "chaine1",
        "chaine2"
    };
}

@Styles.Render("~/MonBundleDeStyle")
<h1>Page Titi</h1>
@toto

@ViewBag.TestHtml

@*<p style="color:forestgreen;">
    @foreach(string s in list)
    {
        <div>@(s)</div>
    }
</p>*@