﻿@* Déclaration du model utilisé *@
@model FirstWebApp.ViewModels.PersonneViewModel

<div>
    @* Utilisation du model pour récupérer la propriété Nom *@
    <label>Nom de la personne : @Model.Nom</label>

    <h3>Liste de ses animaux :</h3>
    <ul>
        @* Itération d'une propriété de type liste du model *@
        @foreach (var animal in Model.Animaux)
        {
            <li>@animal.Nom</li>
        }
    </ul>
</div>